export(alphaDiversity, contrib, matrixConvert, ordination, otuReport, otuCollap,
       pbray, rareBiosphere, subOTU, typeConvert)
import("vegan")
importFrom("reshape2", "melt")
importFrom("vegan", "vegdist", "rda", "cca", "envfit", "scores", "metaMDS",
           "specnumber","diversity","estimateR")
importFrom("grDevices", "dev.copy2pdf", "rainbow")
importFrom("graphics", "abline", "arrows", "boxplot", "legend",
                "locator", "plot", "points", "text")
importFrom("stats", "as.dist", "weights")
importFrom("utils", "type.convert", "write.table")
