export(alphaDiversity)
export(bplot)
export(contrib)
export(calc_bc)
#export(calc_chao1)
#export(calc_chao2)
#export(calc_shannon)
#export(calc_simpson)
export(matrixConvert)
export(fillTax)
export(fillTax2)
export(slimTax)
export(otuReport)
export(otuCollap)
export(pbray)
export(rareBiosphere)
export(subOTU)
export(typeConvert)
importFrom(reshape2, melt)
importFrom(grDevices,dev.copy2pdf)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,barplot)
importFrom(graphics,box)
importFrom(graphics,boxplot)
importFrom(graphics,legend)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(graphics,title)
importFrom(stats,dist)
importFrom(stats,as.dist)
importFrom(stats,weights)
importFrom(utils,type.convert)
importFrom(utils,write.table)
