export(alphaDiversity, bplot, contrib, matrixConvert, ordination, otuReport, pbray,
       rareBiosphere, subOTU, typeConvert)
import("vegan")
import("reldist")
import("fossil")
import("reldist")
importFrom("reshape2", "melt")
importFrom("fossil", "chao1","chao2")
importFrom("reldist", "gini")
importFrom("vegan", "vegdist", "rda", "cca", "envfit", "scores", "metaMDS",
           "specnumber","diversity")
importFrom("grDevices", "dev.copy2pdf", "rainbow")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
           "boxplot", "legend", "locator", "par", "plot", "points",
           "text", "title")
importFrom("stats", "as.dist", "weights")
importFrom("utils", "type.convert", "write.table")


